# IDE
.vscode/**
.idea/**
/cmake**
# clangd
/.cache/**
# 构建文件
bam
.bam
/config.lua
/datasrc/__pycache__
/datasrc/*.pyc
/objs
#CMake 好像没法生成这些文件
#src/game/generated
/*.dll
build/**
/crapnet*
/dilate*
/fake_server*
/map_resave*
/map_version*
/mastersrv*
/packetgen*
/tileset_border*
/versionsrv*
/infclass_client*
/infclass_srv*
/infclass_editor*
/autoexec.cfg*

/mmo_*

CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
CMakeFiles/
Mmotee-Server