## Standart
sv_name MMOTee CHN 1-250 (测试中) 
sv_map 1-250
sv_port 8300
sv_register 1
sv_rcon_password gfwehkbgre
#password 123qw
sv_inactivekick_time 0

## Work
sv_materexp_work 1000
sv_farmexp_work 500
sv_minerexp_work 50

## Events
sv_event_hammer 1
sv_event_school 1
sv_dropdance 2

## Command moderation
mod_command fban
#mod_command ban
#mod_command unban
mod_command mute
mod_command unmute
mod_command kick
mod_command status
mod_command option_status
mod_command mod_status
#mod_command inf_set_class

inf_add_sqlserver r mmohard tw mmotee JohnJphan localhost 3306
inf_add_sqlserver w mmohard tw mmotee JohnJphan localhost 3306
